@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


:root {
    --cor-primaria: black;
    --cor-secundaria: #F6F4F0;
    --cor-terciaria: #22D4FD;

    --fonte-Montserrat: "Montserrat Alternates", serif;
    --fonte-Damion: "Damion", serif;
    --fonte-Lilita: "Lilita One", serif;

      }
* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    
}

.titulo-destaque {
    color: var(--cor-terciaria);
}


.destaque-linguages {

    color: var(--cor-terciaria);
}

a {
    color: var(--cor-secundaria);
    border: var(--cor-primaria);
}

.cabeçalho {
    padding: 2% 0% 0% 15%;
    
}

.cabeçalho__menu {
    display: flex;
    gap: 80px;
    
}

.cabeçalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    
}

.cabeçalho__menu__link:hover {
    color: blueviolet;
}


.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-Lilita);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-Montserrat);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

}

.apresentacao__conteudo__conheça {
    font-family: var(--fonte-Montserrat);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__redes {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    padding: 16px 0px;
    text-decoration: none;
    font-family:  var(--fonte-Damion);
    font-weight: 600;
    
}

.apresentacao__links__redes:hover {
    background-color: var(--cor-primaria);
    color: rebeccapurple;
}

.apresentacao__imagem {
    width: 50%;

}


.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 23px;
    text-align: center;
    font-family: var(--fonte-Montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
   
    

    .cabeçalho {
        padding: 10%;
    }
   
    .cabeçalho__menu {

        justify-content: center;
    }
   
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}